body {
  margin: 0px;
  font-family: Arial, Helvetica, sans-serif;
  background-color: rgb(17, 17, 17);
}

#header {
  display: flex;
  align-items: center;
  height: 15vh;
}

#content {
  margin-top: -3vh;
  height: 85vh;
}

#content > * {
  height: 100%;
  width: 50%;
}

#rGraphs > * {
  height: 50%;
}

#title {
  margin: 0 2vw;
  color: white;
  justify-content: center;
  white-space: nowrap;
}

#dropDownVariablesX,
#dropDownVariablesY {
  width: 25vw;
  align-self: center;
  margin-right: 2vw;
}